html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.top-container {
    color: #fff;
    background-color: #0096a4;
    height: 150px;
    text-align: center;
    width: 100%;
}

.header {
    color: #fff;
    background-color: #0096a4;
    height: 70px;
    text-align: center;
    width: 100%;
}

.hc, .hc-container{
    display: flex;
    margin: 0px auto;
    max-width: 800px;
    height: 100%;
}

.hc {
    flex-direction: row;
    align-items: stretch;
}

.hc-container {
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.hc-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin: 0px auto;
    width: 80%;
    height: 100%;
}

.hc-logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin: 0px auto;
    width: 20%;
    height: 100%;
}

.fc {
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin: 0px auto;
    max-width: 800px;
    height: 100%;
}

.hc p,
.hc h1 {
    width: 100%;
}

.buttons {
    display: flex;
    justify-content:space-around;
    width: 60%;
}

.btn {
    background-color: #0096a4;
    border: solid 1px;
    color: white;
}

.content {
    flex: auto;
    background-color: #f4f4f4;
    width: 100%;
}

.footer {
    flex: auto;
    background-color: #f4f4f4;
    width: 100%;
}

.logo {
    height: 40px;
    width: 144.75px;
    margin-left: 5px;
    text-align: center;
}

.cc {
    margin: 0px auto;
    padding-top: 50px;
    max-width: 800px;
    height: 100%;
}

.cc h2 {
    border-bottom: #0096a4 1px solid;
}

.cc h2, h3 {
    color: #0096a4
}

.cc h3 {
    margin-top: 10px;
    font-size: 1.5rem;
}

a {
    color: #155899;
}

a:hover {
    color: #155899;
}

pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
}

.logo-button{
    float:right;
    border:none;
    padding:8px 0px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
    }

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.sticky + .content {
    padding-top: 102px;
}

.extension {
    height: auto;
    width: 100%;
    text-align: center;
}

.configuration {
    height: auto;
    width: 50%;
    
}

.center-image {
    width: 100%;
    text-align: center;
    align-items: center;
    align-content: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

td, th {
    border: 1px solid #dddddd;
    padding: 8px;
}

th {
    background-color: #0096a4;
    color: white;
}

.thumbnail {
    background-color: #fff;
    color: #0096a4;
    border: 1px solid #ccc;
    margin: 12px;
    height: 170px;
    text-decoration: none;
}

.img-thumbnail{
    height: 100px !important;
    margin: 10px;
    width: 80%;
    border: none;
}

.tc {
    width: 100%;
    text-align: center;
}