/*Hide in Small Display Area*/
@media (max-width:470px){.xp-hide-small{display:none!important}}
@media (max-width:250px){.xp-hide-xtra-small{display:none!important}}
@media (max-height:250px){.xp-hide-low-height{display:none!important}}

/* Theme */
.bar-theme {
    color:#ffffff !important;
    background-color:#0096a4 !important
}

.xp-theme-grey {
    color:#000000 !important;
    background-color:rgb(230, 230, 230) !important
}

/* Display Options */
.xp-hide{display:none!important}
.xp-show-block,.xp-show{display:block!important}
.xp-show-inline-block{display:inline-block!important}

/*Bars Config*/
.xp-bar{width:100%;overflow:hidden;}.xp-center .xp-bar{display:inline-block;width:auto}
.xp-bar .xp-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.xp-bar .xp-bar-title{padding:8px 8px;float:left;width:auto;border:none;display:block;outline:0}
.xp-bar .xp-button{white-space:normal}

/*Buttons Config*/
.xp-btn,.xp-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.xp-btn,.xp-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.xp-btn-success{background-color:#0096a4!important;color:#ffffff;margin-left:5px;}
.xp-modal-button{border:none;padding:0px 8px;display:inline-block;vertical-align:middle;overflow:hidden;text-align:center;cursor:pointer;white-space:nowrap}

.tooltip > .tooltip-inner {
  background-color: #616161;
  opacity: 80%;
  padding-left: 8px;
  padding-right: 8px;

}

/* Alignment */
.xp-top,.xp-bottom{position:fixed;width:100%;z-index:1}
.xp-top{top:0;border-bottom: 1px solid rgb(194, 189, 189);}
.xp-bottom{bottom:0}
.xp-top-border{border-top: 1px solid rgb(194, 189, 189);}
.xp-left-align{text-align:left!important}
.xp-right-align{text-align:right!important}
.xp-center-align{text-align:center!important}
.xp-left{float:left!important}
.xp-right{float:right!important}
.xp-padding-32{padding-top:32px!important;padding-bottom:32px!important}
.xp-padding-16{padding-top:16px!important;padding-bottom:16px!important}
.xp-padding-8{padding-top:8px!important;padding-bottom:8px!important}
.xp-margin-10{margin: 10px 10px 10px 10px}
.xp-margin-button{margin: 5px 5px 5px 5px}
.xp-margin-top-20{margin-top: 20px}
.xp-margin-top-10{margin-top: 10px}

/*Container*/
.xp-container:after
.xp-container:before
.xp-container{padding:0.01em 16px}

/* Hover and Background Colors*/
.xp-hover-black:hover{color:#000!important;background-color:#fff!important}
.xp-hover-blue:hover{color:rgb(69, 174, 245)!important;background-color:#0096a4!important}
.xp-hover-green:hover{color:rgb(2, 189, 33)!important;background-color:#0096a4!important}
.xp-hover-red:hover{color:rgb(192, 0, 0)!important;background-color:#0096a4!important}
.xp-teal,.xp-hover-teal:hover{color:#fff!important;background-color:#0096a4!important}
.xp-white,.xp-hover-white:hover{color:rgb(69, 174, 245)!important;background-color:#ffffff!important}
.xp-red,.xp-hover-red:hover{color:rgb(192, 0, 0)!important;background-color:#ffffff!important}
.xp-grey,.xp-hover-grey:hover{color:#919191!important;background-color:#ffffff!important}
.xp-light-grey,.xp-hover-light-grey:hover{color:#919191!important;background-color:#ffffff!important}

/*Sizes*/
.xp-tiny{font-size:10px!important}
.xp-small{font-size:12px!important}
.xp-medium{font-size:15px!important}
.xp-large{font-size:18px!important}
.xp-x-large{font-size:25px!important}

/*XP Logo*/
.xp-logo {height: 20px;width: 70px;margin-left: 5px;text-align: center;}
.xp-link{width: 100%; position: block;}
.xp-modal-message{width: auto;}

.xp-sidebar{background-color:#fff;overflow:auto;height:100%;z-index:2;width:50%;min-width:200px}
.xp-card{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.xp-animate-right{position:relative;animation:animateright 0.5s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.xp-bar-block .xp-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.xp-bar-block .xp-bar-icon{width:100%;display:block;padding:8px 16px;text-align:right;border:none;white-space:normal;float:none;outline:0}

.checkboxes {position: relative;padding-left: 20px;cursor: pointer;font-size: 12px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}

.checkboxes input {position: absolute;opacity: 0;cursor: pointer;}

/* Create a custom checkbox */
.checkmark {position: absolute;top: 0;left: 0;height: 15px;width: 15px;background-color: #eee;}

/* On mouse-over, add a grey background color */
.checkboxes:hover input ~ .checkmark {background-color: #ccc;}

/* When the checkbox is checked, add a blue background */
.checkboxes input:checked ~ .checkmark {background-color: #0096a4;}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {content: "";position: absolute;display: none;}

/* Show the checkmark when checked */
.checkboxes input:checked ~ .checkmark:after {display: block;}

/* Style the checkmark/indicator */
.checkboxes .checkmark:after {left: 5px;top: 2px;width: 5px;height: 10px;border: solid white;border-width: 0 3px 3px 0;-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);}

.refresh-input{
    width: 25px !important; 
    opacity: 1 !important;
    cursor: text !important; 
    position:relative !important; 
    /* background-color: #eeeeee !important;  */
    /* border: none;  */
    font-size:12px; 
    padding: 4px 2px;
    height: 20px;
    text-align: center
}