html, body {
    overflow:hidden;
    font-family: 'Segoe UI', Verdana, sans-serif;
    height: 100%;
}

h1, h2, h3, h4, h5 {
    font-family: 'Segoe UI Light', Verdana, sans-serif;
    text-align: center;
}

.vcenter {
  vertical-align: middle;
  float: none;
}

.title {
  background: #1596A4;
  height: 50px;
  text-align: center;
  vertical-align: middle;
}

.logo {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  text-align: center;
}

.sheet_name {
  font-weight: bold;
  font-family: 'Segoe UI Light', Verdana, sans-serif
}

div.DTS div.dataTables_scrollBody {
  background: white;
}

tr {
  height: 38px;
  line-height: 38px;
  min-height: 38px;
}

tr>td{
  vertical-align: center !important;
}
