html, body {
    overflow:hidden;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    height: 100%;
}

h1, h2, h3, h4, h5 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    text-align: center;
}

.vcenter {
  vertical-align: middle;
  float: none;
}

.title {
  background: #0096a4;
  height: 50px;
  text-align: center;
  vertical-align: middle;
}

.logo {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  text-align: center;
}

.sheet_name {
  /* font-weight: bold; */
  font-size: 15px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  padding-left: 8px;
}

div.DTS div.dataTables_scrollBody {
  background: white;
}

tr {
  height: 38px;
  line-height: 38px;
  min-height: 38px;
}

tr>td{
  vertical-align: center !important;
}

.modal-generic-dialog {
  max-width: 100%;
  width: auto !important;
  display: inline-block;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  /* background-color: #000; */
  filter: alpha(opacity=80);
  -moz-opacity: 0.5;
  opacity: 0.5;    

}

#overlay span {
    padding: 5px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #616161;
    position:relative;
    top:2%;
}